:host {
    display: block;
    width: 100%;
}
.card {
    width: 100%;
    padding: 0;
    margin: 0;
}
::ng-deep .p-menubar {
    width: 100%;
    border-radius: 0;
}
.start-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}
img{
    height: 4rem;
}
.pageTitle{
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 4rem;
    text-decoration: none;
    color: var(--p-text-color);
}
::ng-deep .p-menubar-item-link {
    transition: all 300ms ease;
    border-radius: 8px;

    &:hover {
        background-color: var(--p-surface-hover) !important;
        transform: scale(1.1);
    }
}
::ng-deep .ff-gradient-primary {
  background: linear-gradient(90deg, #916FBC 0%, #A681C4 100%) !important;
  border: none !important;
  color: white !important;
}