img{
    height: 4rem;
}
.pageTitle{
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 4rem;
}
.ff-gradient-primary {
  background: linear-gradient(90deg, #916FBC 0%, #A681C4 100%);
  border: none;
  color: white;
}